@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Employees.Users.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.Employees.UsersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>