{
    "RootNamespace": "HRM",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.; Initial Catalog=HRM_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Deparetements",
                    "Identifier": "Deparetements",
                    "Module": "Employees",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Jobs",
                    "Identifier": "Jobs",
                    "Module": "Employees",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Status",
                    "Identifier": "Status",
                    "Module": "Employees",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vacancies",
                    "Identifier": "Vacancies",
                    "Module": "Employees",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VacancyRequests",
                    "Identifier": "VacancyRequests",
                    "Module": "RequestsStatus",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PermissionStatus",
                    "Identifier": "PermissionStatus",
                    "Module": "RequestsStatus",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PermissionRequests",
                    "Identifier": "PermissionRequests",
                    "Module": "Employees",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Balance",
                    "Identifier": "BalanceAccount",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BasicInsurances",
                    "Identifier": "BasicInsurances",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Deductions",
                    "Identifier": "Deductions",
                    "Module": "SalaryDetails",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Entitlements",
                    "Identifier": "Entitlements",
                    "Module": "SalaryDetails",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Allowances",
                    "Identifier": "Allowances",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Premiums",
                    "Identifier": "Premiums",
                    "Module": "SalaryDetails",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmpLoans",
                    "Identifier": "EmpLoans",
                    "Module": "RequestsStatus",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.installments",
                    "Identifier": "Installments",
                    "Module": "RequestsStatus",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmploymentStatus",
                    "Identifier": "EmploymentStatus",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmploeesStatus",
                    "Identifier": "EmploeesStatus",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Premiumstype",
                    "Identifier": "Premiumstype",
                    "Module": "SalaryDetails",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VacancyPolicy",
                    "Identifier": "VacancyPolicy",
                    "Module": "Employees",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.financialyear",
                    "Identifier": "Financialyear",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.User_Vacancies_Limit",
                    "Identifier": "UserVacanciesLimit",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OfficialHolidays",
                    "Identifier": "OfficialHolidays",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AttendanceSheet",
                    "Identifier": "AttendanceSheet",
                    "Module": "AttendanceSheet",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Leave",
                    "Identifier": "Leave",
                    "Module": "AttendanceSheet",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\HRM\\HRM.Web\\HRM.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}