@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.BasicInsurances.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.Administration.BasicInsurancesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>