@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Employees.Jobs.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.Employees.JobsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>