@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.RequestsStatus.PermissionRequests.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.RequestsStatus.PermissionRequestsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>