@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SalaryDetails.Premiums.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.SalaryDetails.PremiumsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>