@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AttendanceSheet.AttendanceSheet.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.AttendanceSheet.AttendanceSheetGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>