@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SalaryDetails.Deductions.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.SalaryDetails.DeductionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>