@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AttendanceSheet.Leave.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.AttendanceSheet.LeaveGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>