@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.RequestsStatus.PermissionStatus.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HRM.RequestsStatus.PermissionStatusGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>